html {
font-family: sans-serif;
}
body {
  background-color: blue;
  margin: 10px;
}
h1 {
  font-size:36px;
  font-style: oblique;
  color:black;
  text-transform: uppercase;
  padding:0px;
}
p {
  padding:5px;
  margin-top: 5px;
  color:black;
  text-decoration: underline;
}
.triangle {
  text-align: center;
}
